.sub-footer {
    width: 100%;
    background: var(--dark-blue);
    padding: 5rem 0 1rem 0;
    z-index: 10;
    img {
        height:5rem;
    }

    .camp {
        font-weight: 400;
    }
}


.footer {
    width: 100%;
    background: var(--dark-blue);

    p{
        margin-bottom: -1rem;
        padding: 2.4rem 0 3rem 0;
    }
}